body {
  margin: 0;
  padding: 0;
}

.widget {
  margin: 0;
  padding: 0;
  width: 345px;
  height: 280px;
}

button {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #4E75FF;
  color: #FFFFFF;
}